#
# This systemd unit starts a webtop instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=WebTop apache
PartOf=webtop.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/apache.pid %t/apache.ctr-id
ExecStartPre=/usr/local/bin/runagent expand_autoconfig
ExecStart=/usr/bin/podman run \
    --pod=webtop \
    --detach \
    --conmon-pidfile=%t/apache.pid \
    --cidfile=%t/apache.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --volume ./autoconfiguration/autodiscover.xml:/usr/share/webtop/autoconfiguration/autodiscover/autodiscover.xml:Z \
    --volume ./autoconfiguration/config-v1.1.xml:/usr/share/webtop/autoconfiguration/mail/config-v1.1.xml:Z \
    --volume ./autoconfiguration/index.html:/usr/share/webtop/autoconfiguration/index.html:Z \
    --volume ./vhosts/autoconfiguration.conf:/vhosts/autoconfiguration.conf:Z \
    --volume ./vhosts/webapp.conf:/vhosts/webapp.conf:Z \
    ${WEBTOP_APACHE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/apache.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/apache.ctr-id
PIDFile=%t/apache.pid
Type=forking
